.loading{
    height: 100vh;
      width: 100vw;
      background: rgba(255, 255, 255, 0.78);
      position: fixed;
      left: 0px;
      top: 0px;
      z-index: 9999
    }

.spinner {
    position: fixed;
    top:35%;
    left:50%;
    transform: translate(-40% -50%);
    width: 70px;
    height: 70px;
    background-color: #333;
    margin: 100px auto;
    animation: sk-rotateplane 1.5s infinite ease-in-out;
    color: white;
    font-size: 36px;
    text-align: center;
    line-height: 2;
  }
  
  
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg); 
    }
      50% { 
      transform: perspective(100px) rotateX(0deg) rotateX(0deg);
    } 100% { 
      transform: perspective(120px) rotateX(0deg) rotateY(180deg);
    }
  }

