.ui.menu>div {
    text-transform: capitalize !important;
    cursor: pointer !important;
    font-size: 15px !important;
    line-height: 20px !important;
    height: 100% !important;
    font-weight: 700 !important;
    /* flex-shrink: 0 !important; */
    display: flex !important;
    align-items: center !important;
}

.foooter-cities > h6 {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
    text-decoration: underline;
}
.foooter-cities > ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}